<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderman.business.mapper.ProductStockMapper">
    <!--库存列表-->
    <select id="findProductStocks"  parameterType="com.coderman.common.vo.business.ProductStockVO"
            resultType="com.coderman.common.vo.business.ProductStockVO">
        SELECT s.p_num,s.stock ,p.name,p.id,
        p.model,p.unit,p.image_url
        FROM biz_product_stock s
        , biz_product p WHERE s.`p_num`=p.`p_num` and s.`stock`>0
        <if test="name!=null and name!=''">
            and p.name like concat('%',#{name}, '%')
        </if>
        <choose>
            <when test="threeCategoryId != null and threeCategoryId !=''">
                and p.three_category_id =#{threeCategoryId}
            </when>
            <when test="twoCategoryId != null and twoCategoryId !=''">
                and p.two_category_id =#{twoCategoryId}
            </when>
            <when test="oneCategoryId != null and oneCategoryId !=''">
                and p.one_category_id =#{oneCategoryId}
            </when>
        </choose>
    </select>
    <!--所有库存信息-->
    <select id="findAllStocks"
            resultType="com.coderman.common.vo.business.ProductStockVO">
        SELECT s.p_num,s.stock ,p.name,p.id,
        p.model,p.unit
        FROM biz_product_stock s
        , biz_product p WHERE s.`p_num`=p.`p_num`
        <if test="name!=null and name!=''">
            and p.name like concat('%',#{name}, '%')
        </if>
        <choose>
            <when test="threeCategoryId != null and threeCategoryId !=''">
                and p.three_category_id =#{threeCategoryId}
            </when>
            <when test="twoCategoryId != null and twoCategoryId !=''">
                and p.two_category_id =#{twoCategoryId}
            </when>
            <when test="oneCategoryId != null and oneCategoryId !=''">
                and p.one_category_id =#{oneCategoryId}
            </when>
        </choose>
    </select>

</mapper>
